/*
seletor de tag
p {

}
seletor de classe
.personage {

}
seletor universal
* {

}

seletor de descendente
ul li {

}
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}